[main]
# main domain
domain=$DOMAIN

# default ttl
ttl=432000

# default IP address for non-wildcard entries
ipaddress=$IP

# SOA
[soa]
# serial number
id=1
# Hostmaster email address
hostmaster=hostmaster@$DOMAIN
# Name server
ns=ns1.$DOMAIN
refresh=10800
retry=3600
expire=604800
minimum=3600

# nameservers
[nameservers]
ns1.$DOMAIN=$IP
# ns2.$DOMAIN=$IP_2

[additional_cnames]
_acme-challenge=xyz.auth.$DOMAIN.
www=www.$DOMAIN.

[whitelist]
loopback = 127.0.0.0/8
private_net_10 = 10.0.0.0/8
private_net_172_16 = 172.16.0.0/12
private_net_192_168 = 192.168.0.0/16
