[main]
# main domain
domain=previews.sofatutor.de

# default ttl
ttl=432000

# default IP address for non-wildcard entries
ipaddress=3.68.62.12

# SOA
[soa]
# serial number
id=1
# Hostmaster email address
hostmaster=hostmaster@previews.sofatutor.de
# Name server
ns=ns1.previews.sofatutor.de

# nameservers
[nameservers]
ns1.previews.sofatutor.de=3.68.62.12
ns2.previews.sofatutor.de=3.68.62.12

[additional_cnames]
_acme-challenge=xyz.auth.previews.sofatutor.de.
www=www.previews.sofatutor.de

[whitelist]
loopback = 127.0.0.0/8
private_net_10 = 10.0.0.0/8
private_net_172_16 = 172.16.0.0/12
private_net_192_168 = 192.168.0.0/16
